html, body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input{
    width:96%;
    margin:5px;
}
p {
    color:#666666;
}

h1{
    color:#328864;
}

.submit-button{
    width: 65px;
    position: relative;
    float:right;
}
.profile{
    border-radius: 50%;
    width:150px;
}

.parent{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container{

}